*{
    margin: auto;
    padding: auto;
}
body{
    background: url("./image/smarttourismbg1.png") no-repeat;
    background-size: 100%;
}
.letgo .letgo-now {
    background-color: blue;
    border: wheat;
    position: fixed;
    bottom: 3rem;
    right: 1.625rem;
    z-index: 999999;
    box-shadow: 0 1px 20px 1px #ece2e0;
  }
  .letgo .letgo-now:hover {
    box-shadow: 0 1px 20px 1px blue;
  }